doctype html
html
  head
    title= title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    
    //- bootstrap
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap/bootstrap-overrides.css')
    
    //- libraries
    link(rel='stylesheet', href='/css/lib/font-awesome.css')
    
    //- libraries
    link(rel='stylesheet', href='/css/compiled/layout.css')
    link(rel='stylesheet', href='/css/compiled/elements.css')
    link(rel='stylesheet', href='/css/compiled/icons.css')
    
    //- page specific styles
    block content_styles
    
    //- open sans font
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
    
    //- lato font
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic')
    
    //[if lt IE 9]
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //[endif]
  body
    block content
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/js/bootstrap.min.js')
    block content_scripts